h1{
    font-family: "Garamond";
    font-weight: 100;
    color: white;
    margin-bottom: 0px;
    text-align: center;
}

body{
    background-color: black;
    overflow: hidden;
}

button{
    color:black;
    background-color:white;
    border-radius: 5px;
}

img {
    display: block; 
    margin: 10px auto;
    max-width: 30%;
    height: auto;
}

h4{
    color:white;
    text-align: center;
    font-weight: 50;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    align-items: center;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18;
}

hr{
    line-height: 0;
    marign:10px 0;
}

#container{
    margin-top:0px;
    margin-bottom: 0px;
}